.header__burger{display: none;}

.lock{overflow: hidden;}

@media (max-width: 842px) {
  //Обязательные переменные

  $burger_height:28px;//Высота бургера
  $burger_line:6px;//Толщина линий бургера
  $burger_span-top:11px;//средняя линия при неактивном бургере
  $burger_span-top-active:12.5px;//средняя линия активного бургера


// Необязательные
  $burger_widht:$burger_height + ($burger_height * 0.2);


  // <!--неактивная фазу бургера-->

// Основные стили бургера

  .header__burger{
    display: inline-block;
    // размеры бургера
    height: $burger_height;
    width: $burger_widht;
    // размеры бургера
    position: relative;
    float: right;
    top: 20px;
    right: 30px;
  }


  //Стили средней линии бургера

  .header__burger span{
    position: absolute;
    width: 100%;
    height: $burger_line;
    top: $burger_span-top;
    background-color: #ccc;
    @include anim(0.3s,0s)
  }

  //общие стили для header__burger

  .header__burger:before,.header__burger:after{
    content:"";
    position: absolute;
    width: 100%;
    // толщина линии бургера
    height: $burger_line;
    background-color: #ccc;
    @include anim(0.3s,0s)
  }

  .header__burger:before{
    top: 0;
  }

  .header__burger:after{
    bottom: 0;
  }

  // <!--неактивная фазу бургера-->

  // <!--активная фазу бургера-->

  .header__burger.active span{
    @include scale(0);

  }

  .header__burger.active:before {
    top:$burger_span-top-active;
    @include rotate(45deg);
  }

  .header__burger.active:after{
    bottom: 9px;
    @include rotate(-45deg);
  }

  .burger_menu{display: none;}

  .burger_menu.active{display: block;}
  // <!--активная фазу бургера-->

}
